<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kotesh Mudila">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="cart.css">
    <title>Daily Fashion : Cart</title>
</head>

<body>
    <div class="navigation-container">
        <div class="logo-input">
            <div class="nav-header">
                <h1>Daily Fashion</h1>
            </div>
            <div class="search-input-container"><input class="header-input" type="search">
                <img class=" input-icon" src="https://img.icons8.com/material/28/000000/search--v1.png" />
            </div>
        </div>
        <nav class="main-links">
            <button class=" btn-link">
                <a class="link-button" href="#">LOG OUT</a>
            </button>
            <a class="nav-icon-link" href="/Components/Wishlist/wishlist.html">
                <div class="badge"><img class="header-icon " src="https://img.icons8.com/glyph-neue/38/ffffff/like.png">
                    <div class="number-one">4</div>
                </div>
            </a>
            <a class="nav-icon-link" href="#">
                <div class="badge"><img class="header-icon"
                        src="https://img.icons8.com/external-icongeek26-glyph-icongeek26/38/ffffff/external-cart-essentials-icongeek26-glyph-icongeek26.png" />
                </div>
            </a>
            <a class="nav-icon-link" href="#"><img class="header-icon"
                    src="https://img.icons8.com/material/38/ffffff/user-male-circle--v1.png" /></a>
        </nav>
    </div>
    <div class="cart-container">
        <h1 class="header-large">My Cart</h1>
        <div class="item-price-container-row">
            <div class="cart-card">
                <img class="horizontal-card-image "
                    src="/Components/Homepage/HomePage-assets/trending-image-sherlock-cap.jpg" />
                <div class="image-card-content-col">
                    <div class="card-content">
                        <div class=" cart-card-title">
                            SHERLOCK'S HAT
                        </div>
                        <div class="card-content price">
                            <h2>Rs.500 <strike><span class="light-text">Rs.2000</span></strike> </h2>
                            <h3>(75% off)</h3>
                        </div>
                        <div class="quantity-setting">
                            <p>Quantity:</p>
                            <button class="btn-counter">-</button>
                            <input class="quantity-input" type="text">
                            <button class="btn-counter">+</button>
                        </div>
                        <button class="btn btn-primary max-width-btn">Remove from cart</button>

                        <button class="btn outline-primary max-width-btn">Move to Wishlist</button>
                    </div>
                </div>
            </div>
            <div class="card cart-price-detail-card">
                <div class="card-title">
                    <h1 class="header-medium">PRICE DETAILS</h1>
                </div>
                <hr>
                <div class="card-content">
                    <div class="price-calculation-container">
                        <ul class="text">
                            <li class="price-card-item">Price (2 Items)</li>
                            <li class="price-card-item">Discount</li>
                            <li class="price-card-item">Delivery charges</li>
                        </ul>
                        <ul class="charges">
                            <li class="price-card-item">Rs.4000/-</li>
                            <li class="price-card-item">-Rs.1500/-</li>
                            <li class="price-card-item"> Rs.100/-</li>
                        </ul>
                    </div>
                    <hr>
                    <div class="final-price">
                        <h2 class="header-medium">TOTAL AMOUNT:</h2>
                        <h2 class="header-medium">Rs.2600/-</h2>
                    </div>
                    <hr>
                    <div class="money-save-text">
                        <h2>You will save RS.1500/- on this order</h2>
                    </div>
                </div>
                <button class="btn btn-primary">PLACE ORDER</button>
            </div>
        </div>
        <div class="main-footer">
            <div class="footer-text">
                Design By Kotesh Mudila
            </div>
            <div class="footer-icons"> <a href="https://github.com/kotesh-arya"><img class="header-icon"
                        src="https://img.icons8.com/windows/64/ffffff/github.png" /></a>
                <a href="https://twitter.com/Kotesh_Mudila"><img class="header-icon"
                        src="https://img.icons8.com/ios-glyphs/60/ffffff/twitter--v1.png" /></a>
                <a href="https://www.linkedin.com/in/koteswara-rao-mudila-7aa740159/"><img class="header-icon"
                        src="https://img.icons8.com/ios-glyphs/60/ffffff/linkedin.png" /></a></div>
        </div>
</body>

</html>