<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="wishlist.css">
    <title>Daily Fashion : Wishlist</title>
</head>

<body>
    <div class="navigation-container">
        <div>
            <div class="nav-header">
                <a class="site-title" href="/Components/Homepage/homepage.html">
                    <h1>DAILY FASHION</h1>
                </a>
            </div>
        </div>
        <h1 class="header-text header-medium shop-now"><a class="header-shop-link"
                href="/Components/ProductListing-filters/productlist.html">SHOP NOW</a></h1>
        <div class="search-input-container"><input class="header-input" placeholder="Type here..." type="search">
            <img class=" input-icon" src="https://img.icons8.com/material/28/000000/search--v1.png" />
        </div>
        <nav class="main-links">
            <a class="nav-icon-link" href="/Components/Wishlist/wishlist.html">
                <div class="badge"><i class="fa fa-heart fa-2x header-icon " aria-hidden="true"></i>
                    <div class="number-one">4</div>
                </div>
            </a>
            <a class="nav-icon-link" href="/Components/Cart/cart.html">
                <div class="badge"><i class="fa fa-shopping-cart fa-2x header-icon " aria-hidden="true"></i>
                    <div class="number-one">3</div>
                </div>
            </a>
            <a class="nav-icon-link" href="/Components/LogIn/login.html"><i class="fa fa-user fa-2x header-icon"
                    aria-hidden="true"></i></a>
        </nav>
    </div>
    <div class="wishlist-container">
        <h1 class="header-large wishlist-heading">My Wishlist</h1>
        <div class="wishlist-items-row">

            <div class="card badge-card ">
                <div class="label-icon ">
                    <div class="label">
                        NEW
                    </div>
                    <img src="https://img.icons8.com/ios-glyphs/60/fa314a/like--v1.png" class="stacked-icon"
                        alt="like-heart" />
                </div>
                <img class="card-image"
                    src="https://github.com/kotesh-arya/Handy_UI-Component_Library/blob/Fix-cards/Assets/Images/Updated-watch.jpg?raw=true"
                    alt="watch" />
                <div class="card-content ">
                    <p>TIMEX</p> <br />
                    <div class="card-title">
                        LEATHER WATCH SERIES
                    </div>
                    <span class="price">Rs.490 <strike>Rs.1299</strike> </span><span class="discount">(62% OFF)</span>
                </div>
                <footer class="card-footer">
                    <button class="btn btn-link card-button"><a class="card-button-link" href="">BUY NOW</a></button>
                </footer>
            </div>

            <div class="card badge-card ">
                <div class="label-icon ">
                    <div class="label">
                        NEW
                    </div>
                    <img src="https://img.icons8.com/ios-glyphs/60/fa314a/like--v1.png" class="stacked-icon"
                        alt="like-heart" />
                </div>
                <img class="card-image"
                    src="https://github.com/kotesh-arya/Handy_UI-Component_Library/blob/Fix-cards/Assets/Images/Updated-watch.jpg?raw=true"
                    alt="watch" />
                <div class="card-content ">
                    <p>TIMEX</p> <br />
                    <div class="card-title">
                        LEATHER WATCH SERIES
                    </div>
                    <span class="price">Rs.490 <strike>Rs.1299</strike> </span><span class="discount">(62% OFF)</span>
                </div>
                <footer class="card-footer">
                    <button class="btn btn-link card-button"><a class="card-button-link" href="">BUY NOW</a></button>
                </footer>
            </div>

            <div class="card badge-card ">
                <div class="label-icon ">
                    <div class="label">
                        NEW
                    </div>
                    <img src="https://img.icons8.com/ios-glyphs/60/fa314a/like--v1.png" class="stacked-icon"
                        alt="like-heart" />
                </div>
                <img class="card-image"
                    src="https://github.com/kotesh-arya/Handy_UI-Component_Library/blob/Fix-cards/Assets/Images/Updated-watch.jpg?raw=true"
                    alt="watch" />
                <div class="card-content ">
                    <p>TIMEX</p> <br />
                    <div class="card-title">
                        LEATHER WATCH SERIES
                    </div>
                    <span class="price">Rs.490 <strike>Rs.1299</strike> </span><span class="discount">(62% OFF)</span>
                </div>
                <footer class="card-footer">
                    <button class="btn btn-link card-button"><a class="card-button-link" href="">BUY NOW</a></button>
                </footer>
            </div>

        </div>

    </div>

</body>

</html>