body {
    background-color: var(--example-bg-color);
}

.search-input-container {
    display: flex;
    align-items: center;
    width: 60%;
    padding: 0 1rem;
}

.input-icon {
    position: relative;
    right: 3rem;
    padding: 5px;
}

.header-input {
    padding: 13px;
    width: 90%;
    border-radius: 3rem;
    border: none;
}


.logo-input {
    display: flex;
    width: 70%;
}

.link-button {
    text-decoration: none;
    background-color: var(--white);
    color: var(--black);
    padding: 1rem;
    margin: 1rem;
}

.btn-link .link-button {
    color: var(--black);
}

.btn-link {
    border: none;
    padding: 0px;
}
.badge .number-one{
    background-color: var(--badge-bg-color);
}
.number-one {
    background-color: var(--alert-primary);
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: relative;
    left: -0.9rem;
    margin-right: -1.3rem;
    bottom: 0.8rem;
    border: 3px solid var(--white);
    font-size: 12px;
    font-weight: bolder;
    color: var(--white);
    text-align: center;
}

.wishlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
}

.wishlist-items-row {
    display: flex;
    flex-flow: row wrap;
    margin-top: 2rem;
}

.card {
    margin: 1rem;
}

.badge-card {
    width: 20rem;
}

.label-icon {
    justify-content: flex-end;
}

.card-title {
    font-size: var(--larger-font-size);
    font-weight: var(--bolder-font-weight);
}

.main-footer {
    width: 100%;
    background-color: var(--primary-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.footer-text {
    color: var(--white);
    font-weight: var(--bolder-font-weight);
    margin-top: 1rem;
}