<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kotesh Mudila">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="productlist.css">
    <title>Daily Fashion : Product list</title>
</head>

<body>
    <div class="navigation-container">
        <div class="logo-input">
            <div class="nav-header">
                <h1>Daily Fashion</h1>
            </div>
            <div class="search-input-container"><input class="header-input" type="search">
                <img class=" input-icon" src="https://img.icons8.com/material/28/000000/search--v1.png" />
            </div>
        </div>
        <nav class="main-links">
            <button class=" btn-link">
                <a class="link-button" href="#">LOG OUT</a>
            </button>
            <a class="nav-icon-link" href="/Components/Wishlist/wishlist.html">
                <div class="badge"><img class="header-icon " src="https://img.icons8.com/glyph-neue/38/ffffff/like.png">
                    <div class="number-one">4</div>
                </div>
            </a>
            <a class="nav-icon-link" href="/Components/Cart/cart.html">
                <div class="badge"><img class="header-icon"
                        src="https://img.icons8.com/external-icongeek26-glyph-icongeek26/38/ffffff/external-cart-essentials-icongeek26-glyph-icongeek26.png" />
                    <div class="number-one">3</div>
                </div>
            </a>
            <a class="nav-icon-link" href="#"><img class="header-icon"
                    src="https://img.icons8.com/material/38/ffffff/user-male-circle--v1.png" /></a>
        </nav>
    </div>
    <div class="product-filter-container">
        <div class="filter-section-col">
            <div class="filter-header">
                <h2>Filters</h2>
                <h4>Clear</h4>
            </div>
            <div class="price-slider">
                <div class="slider-ranges">
                    <h3>100</h3>
                    <h3>500</h3>
                    <h3>1000</h3>
                </div>
                <div class="slider-container">
                    <input type="range" min="1" max="100" value="50" class="slider">
                </div>
            </div>
            <div class="category-container-col">
                <div class="category-one">
                    <input class="category-check" type="checkbox">
                    <label for="category-check ">Men's Fashion</label>
                </div>
                <div class="category-two">
                    <input class="category-check" type="checkbox">
                    <label for="category-check ">Women's Fashion</label>
                </div>
            </div>
            <ul class="rating-container">
                <li class="rating-item"> <input type="radio" name="" id=""> 4 Star and above</li>
                <li class="rating-item"> <input type="radio" name="" id=""> 3 Star and above</li>
                <li class="rating-item"> <input type="radio" name="" id=""> 2 Star and above</li>
                <li class="rating-item"> <input type="radio" name="" id=""> 1 Star and above</li>
            </ul>
            <ul class="sorting-container">
                <li class="sorting-item"> <input type="radio" name="" id=""> High to Low</li>
                <li class="sorting-item"> <input type="radio" name="" id=""> Low to High</li>
            </ul>
        </div>
        <div class="product-section">
            <h1 class="header-large product-header">Showing All Products</h1>
            <div class="product-container">

                <div class="card badge-card">
                    <div class="label-icon">
                        <img src="https://img.icons8.com/ios/50/000000/like--v1.png" class="stacked-icon"
                            alt="heart-icon" srcset="">
                    </div>
                    <img class="product-image" src="/Components/Wishlist/Wishlist-assets/wishlist-image.jpg ">
                    <div class="card-content">Timex</div>
                    <div class="card-title">
                        LEATHER WATCH SERIES
                    </div>
                    <div class="card-content">
                        Rs.490 <strike>Rs.1299</strike> (62% OFF)
                    </div>
                    <footer class="footer">
                        <a href="">MOVE TO CART</a>
                    </footer>
                </div>
                <div class="card badge-card">
                    <div class="label-icon">
                        <img src="https://img.icons8.com/ios/50/000000/like--v1.png" class="stacked-icon"
                            alt="heart-icon" srcset="">
                    </div>
                    <img class="product-image" src="/Components/Wishlist/Wishlist-assets/wishlist-image.jpg ">
                    <div class="card-content">Timex</div>
                    <div class="card-title">
                        LEATHER WATCH SERIES
                    </div>
                    <div class="card-content">
                        Rs.490 <strike>Rs.1299</strike> (62% OFF)
                    </div>
                    <footer class="footer">
                        <a href="">MOVE TO CART</a>
                    </footer>
                </div>
                <div class="card badge-card">
                    <div class="label-icon">
                        <img src="https://img.icons8.com/ios-filled/50/fa314a/like--v1.png" class="stacked-icon"
                            alt="heart-icon" srcset="">
                    </div>
                    <img class="product-image" src="/Components/Wishlist/Wishlist-assets/wishlist-image.jpg ">
                    <div class="card-content">Timex</div>
                    <div class="card-title">
                        LEATHER WATCH SERIES
                    </div>
                    <div class="card-content">
                        Rs.490 <strike>Rs.1299</strike> (62% OFF)
                    </div>
                    <footer class="footer">
                        <a href="">MOVE TO CART</a>
                    </footer>
                </div>
                <div class="card badge-card">
                    <div class="label-icon">
                        <img src="https://img.icons8.com/ios/50/000000/like--v1.png" class="stacked-icon"
                            alt="heart-icon" srcset="">
                    </div>
                    <img class="product-image" src="/Components/Wishlist/Wishlist-assets/wishlist-image.jpg ">
                    <div class="card-content">Timex</div>
                    <div class="card-title">
                        LEATHER WATCH SERIES
                    </div>
                    <div class="card-content">
                        Rs.490 <strike>Rs.1299</strike> (62% OFF)
                    </div>
                    <footer class="footer">
                        <a href="">MOVE TO CART</a>
                    </footer>
                </div>
                <div class="card badge-card">
                    <div class="label-icon">
                        <img src="https://img.icons8.com/ios-filled/50/fa314a/like--v1.png" class="stacked-icon"
                            alt="heart-icon" srcset="">
                    </div>
                    <img class="product-image" src="/Components/Wishlist/Wishlist-assets/wishlist-image.jpg ">
                    <div class="card-content">Timex</div>
                    <div class="card-title">
                        LEATHER WATCH SERIES
                    </div>
                    <div class="card-content">
                        Rs.490 <strike>Rs.1299</strike> (62% OFF)
                    </div>
                    <footer class="footer">
                        <a href="">MOVE TO CART</a>
                    </footer>
                </div>
                <div class="card badge-card">
                    <div class="label-icon">
                        <img src="https://img.icons8.com/ios/50/000000/like--v1.png" class="stacked-icon"
                            alt="heart-icon" srcset="">
                    </div>
                    <img class="product-image" src="/Components/Wishlist/Wishlist-assets/wishlist-image.jpg ">
                    <div class="card-content">Timex</div>
                    <div class="card-title">
                        LEATHER WATCH SERIES
                    </div>
                    <div class="card-content">
                        Rs.490 <strike>Rs.1299</strike> (62% OFF)
                    </div>
                    <footer class="footer">
                        <a href="">MOVE TO CART</a>
                    </footer>
                </div>
                <div class="card badge-card">
                    <div class="label-icon">
                        <img src="https://img.icons8.com/ios/50/000000/like--v1.png " class="stacked-icon"
                            alt="heart-icon" srcset="">
                    </div>
                    <img class="product-image" src="/Components/Wishlist/Wishlist-assets/wishlist-image.jpg ">
                    <div class="card-content">Timex</div>
                    <div class="card-title">
                        LEATHER WATCH SERIES
                    </div>
                    <div class="card-content">
                        Rs.490 <strike>Rs.1299</strike> (62% OFF)
                    </div>
                    <footer class="footer">
                        <a href="">MOVE TO CART</a>
                    </footer>
                </div>
                <div class="card badge-card">
                    <div class="label-icon">
                        <img src="https://img.icons8.com/ios/50/000000/like--v1.png" class="stacked-icon"
                            alt="heart-icon" srcset="">
                    </div>
                    <img class="product-image" src="/Components/Wishlist/Wishlist-assets/wishlist-image.jpg ">
                    <div class="card-content">Timex</div>
                    <div class="card-title">
                        LEATHER WATCH SERIES
                    </div>
                    <div class="card-content">
                        Rs.490 <strike>Rs.1299</strike> (62% OFF)
                    </div>
                    <footer class="footer">
                        <a href="">MOVE TO CART</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    <div class="main-footer">
        <div class="footer-text">
            Design By Kotesh Mudila
        </div>
        <div class="footer-icons"> <a href="https://github.com/kotesh-arya"><img class="header-icon"
                    src="https://img.icons8.com/windows/64/ffffff/github.png" /></a>
            <a href="https://twitter.com/Kotesh_Mudila"><img class="header-icon"
                    src="https://img.icons8.com/ios-glyphs/60/ffffff/twitter--v1.png" /></a>
            <a href="https://www.linkedin.com/in/koteswara-rao-mudila-7aa740159/"><img class="header-icon"
                    src="https://img.icons8.com/ios-glyphs/60/ffffff/linkedin.png" /></a></div>
    </div>
</body>

</html>