body {
    background-color: var(--page-bg-color);
}

.logo-input {
    display: flex;
    width: 70%;
}

.search-input-container {
    display: flex;
    align-items: center;
    width: 60%;
    padding: 0 1rem;
    margin-left: 2rem;
}

.input-icon {
    position: relative;
    right: 3rem;
    padding: 5px;
}

.header-input {
    padding: 9px;
    width: 90%;
    border-radius: 5px;
    border: none;
    border: 2px solid var(--grey);
    font-size: var(--medium-font-size);
}

.header-icon {
    color: var(--fa-primary-color);
    font-size: 1.5rem;
}

.basic {
    border: 0px;
}

.badge .number-one {
    background-color: var(--badge-bg-color);
}

.number-one {
    background-color: var(--alert-primary);
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: relative;
    left: -0.9rem;
    margin-right: -1.3rem;
    bottom: 0.8rem;
    border: 3px solid var(--white);
    font-size: 12px;
    font-weight: bolder;
    color: var(--white);
    text-align: center;
}



.nav-icon-link {
    text-decoration: none;
    padding: 0;
}

.btn-link .link-button {
    color: var(--white);
}

.btn-link {
    border: none;
    padding: 0px;

}

.filter-section-col {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: var(--white);
}

.price-slider {
    padding: 0.8rem 2rem;
}

.rating-container {
    padding: 0.6rem 3rem;
    font-size: 1.5rem;
}

.rating-item {
    list-style-type: none;
    margin: 1rem 0;
}

.sorting-container {
    padding: 0.6rem 3rem;
    font-size: 1.5rem;
}

.sorting-item {
    list-style-type: none;
    margin: 1rem 0;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
}

.price-slider {
    display: flex;
    flex-direction: column;
}

.slider-ranges {
    display: flex;
    justify-content: space-between;
}

.category-container-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.6rem 3rem;
    font-size: 1.5rem;
}

.category-one,
.category-two {
    margin: 1rem 0;
}

.category-check {
    height: 15px;
    width: 15px;
}

.product-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}

.product-filter-container {
    display: flex;
    flex-direction: row;

}

.product-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 2rem;
}

.product-header {
    margin: 2rem 0 0 6rem;
}

.card {
    margin: 1.5rem;
    box-shadow: 2px 2px 8px black;
    border-radius: 10px;
}

.badge-card {
    width: 20rem;
}

.label {
    padding: 10px;
    height: 2rem;
    width: 3.5rem;
}

.label-icon {
    justify-content: space-between;
}

.card-image {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card-content {
    margin: 0 2rem;
}

.card-title {
    color: var(--fa-primary-color);
}

.card-footer {
    width: 100%;
}

.discount {
    color: var(--primary-color);
    font-weight: bold;
}

.price {
    font-weight: bold;
}

.card-button {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
}

.card-button-link {
    text-decoration: none;
    color: var(--white);
    padding: 0.8rem 3rem;
}

.main-footer {
    width: 100%;
    background-color: var(--footer-bg-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.footer a {
    margin: 0;
}

.footer-text {
    color: var(--primary-color);
    font-weight: var(--bolder-font-weight);
    margin-top: 1rem;
}

.footer-icons {
    margin-top: 10px;
}

.footer-icon {
    color: var(--fa-primary-color);
    font-size: 2.5rem;
    padding: 5px;
}