<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kotesh Mudila">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="productlist.css">
    <title>Daily Fashion : Product list</title>
</head>

<body>
    <div class="navigation-container">
        <div class="logo-input">
            <div class="nav-header">
                <a class="site-title" href="/Components/Homepage/homepage.html">
                    <h1>DAILY FASHION</h1>
                </a>
            </div>
            <div class="search-input-container"><input class="header-input" placeholder="Type here..." type="search">
                <img class=" input-icon" src="https://img.icons8.com/material/28/000000/search--v1.png" />
            </div>
        </div>
        <nav class="main-links">
            <a class="nav-icon-link" href="/Components/Wishlist/wishlist.html">
                <div class="badge"><i class="fa fa-heart fa-2x header-icon " aria-hidden="true"></i>
                    <div class="number-one">4</div>
                </div>
            </a>
            <a class="nav-icon-link" href="/Components/Cart/cart.html">
                <div class="badge"><i class="fa fa-shopping-cart fa-2x header-icon " aria-hidden="true"></i>
                    <div class="number-one">3</div>
                </div>
            </a>
            <a class="nav-icon-link" href="/Components/LogIn/login.html"><i class="fa fa-user fa-2x header-icon"
                    aria-hidden="true"></i></a>
        </nav>
    </div>
    <div class="product-filter-container">
        <div class="filter-section-col">
            <div class="filter-header">
                <h2>Filters</h2>
                <h3>Clear</h3>
            </div>
            <div class="price-slider">
                <div class="slider-ranges">
                    <h3>100</h3>
                    <h3>500</h3>
                    <h3>1000</h3>
                </div>
                <div class="slider-container">
                    <input type="range" min="1" max="100" value="50" class="slider">
                </div>
            </div>
            <div class="category-container-col">
                <div class="category-one">
                    <input class="category-check" type="checkbox">
                    <label for="category-check ">Men's Fashion</label>
                </div>
                <div class="category-two">
                    <input class="category-check" type="checkbox">
                    <label for="category-check ">Women's Fashion</label>
                </div>
            </div>
            <ul class="rating-container">
                <li class="rating-item"> <input type="radio" name="rating" id=""> 4 Star and above</li>
                <li class="rating-item"> <input type="radio" name="rating" id=""> 3 Star and above</li>
                <li class="rating-item"> <input type="radio" name="rating" id=""> 2 Star and above</li>
                <li class="rating-item"> <input type="radio" name="rating" id=""> 1 Star and above</li>
            </ul>
            <ul class="sorting-container">
                <li class="sorting-item"> <input type="radio" name="sorting" id=""> High to Low</li>
                <li class="sorting-item"> <input type="radio" name="sorting" id=""> Low to High</li>
            </ul>
        </div>
        <div class="product-section">
            <h1 class="header-large product-header">Showing All Products</h1>
            <div class="product-container">

                <div class="card badge-card ">
                    <div class="label-icon ">
                        <div class="label">
                            NEW
                        </div>
                        <img src="https://img.icons8.com/ios-glyphs/60/fa314a/like--v1.png" class="stacked-icon"
                            alt="like-heart" />
                    </div>
                    <img class="card-image"
                        src="https://github.com/kotesh-arya/Handy_UI-Component_Library/blob/Fix-cards/Assets/Images/Updated-watch.jpg?raw=true"
                        alt="watch" />
                    <div class="card-content ">
                        <p>TIMEX</p> <br />
                        <div class="card-title">
                            LEATHER WATCH SERIES
                        </div>
                        <span class="price">Rs.490 <strike>Rs.1299</strike> </span><span class="discount">(62%
                            OFF)</span>
                    </div>
                    <footer class="card-footer">
                        <button class="btn btn-link card-button"><a class="card-button-link" href="">ADD TO
                                CART</a></button>
                    </footer>
                </div>

                <div class="card badge-card ">
                    <div class="label-icon ">
                        <div class="label">
                            NEW
                        </div>
                        <img src="https://img.icons8.com/material-outlined/96/000000/like--v1.png" class="stacked-icon"
                            alt="like-heart" />
                    </div>
                    <img class="card-image"
                        src="https://github.com/kotesh-arya/Handy_UI-Component_Library/blob/Fix-cards/Assets/Images/Updated-watch.jpg?raw=true"
                        alt="watch" />
                    <div class="card-content ">
                        <p>TIMEX</p> <br />
                        <div class="card-title">
                            LEATHER WATCH SERIES
                        </div>
                        <span class="price">Rs.490 <strike>Rs.1299</strike> </span><span class="discount">(62%
                            OFF)</span>
                    </div>
                    <footer class="card-footer">
                        <button class="btn btn-link card-button"><a class="card-button-link" href="">BUY
                                NOW</a></button>
                    </footer>
                </div>

                <div class="card badge-card ">
                    <div class="label-icon ">
                        <div class="label">
                            NEW
                        </div>
                        <img src="https://img.icons8.com/material-outlined/96/000000/like--v1.png" class="stacked-icon"
                            alt="like-heart" />
                    </div>
                    <img class="card-image"
                        src="https://github.com/kotesh-arya/Handy_UI-Component_Library/blob/Fix-cards/Assets/Images/Updated-watch.jpg?raw=true"
                        alt="watch" />
                    <div class="card-content ">
                        <p>TIMEX</p> <br />
                        <div class="card-title">
                            LEATHER WATCH SERIES
                        </div>
                        <span class="price">Rs.490 <strike>Rs.1299</strike> </span><span class="discount">(62%
                            OFF)</span>
                    </div>
                    <footer class="card-footer">
                        <button class="btn btn-link card-button"><a class="card-button-link" href="">ADD TO
                                CART</a></button>
                    </footer>
                </div>

                <div class="card badge-card ">
                    <div class="label-icon ">
                        <div class="label">
                            NEW
                        </div>
                        <img src="https://img.icons8.com/material-outlined/96/000000/like--v1.png" class="stacked-icon"
                            alt="like-heart" />
                    </div>
                    <img class="card-image"
                        src="https://github.com/kotesh-arya/Handy_UI-Component_Library/blob/Fix-cards/Assets/Images/Updated-watch.jpg?raw=true"
                        alt="watch" />
                    <div class="card-content ">
                        <p>TIMEX</p> <br />
                        <div class="card-title">
                            LEATHER WATCH SERIES
                        </div>
                        <span class="price">Rs.490 <strike>Rs.1299</strike> </span><span class="discount">(62%
                            OFF)</span>
                    </div>
                    <footer class="card-footer">
                        <button class="btn btn-link card-button"><a class="card-button-link" href="">ADD TO
                                CART</a></button>
                    </footer>
                </div>

                <div class="card badge-card ">
                    <div class="label-icon ">
                        <div class="label">
                            NEW
                        </div>
                        <img src="https://img.icons8.com/ios-glyphs/60/fa314a/like--v1.png" class="stacked-icon"
                            alt="like-heart" />
                    </div>
                    <img class="card-image"
                        src="https://github.com/kotesh-arya/Handy_UI-Component_Library/blob/Fix-cards/Assets/Images/Updated-watch.jpg?raw=true"
                        alt="watch" />
                    <div class="card-content ">
                        <p>TIMEX</p> <br />
                        <div class="card-title">
                            LEATHER WATCH SERIES
                        </div>
                        <span class="price">Rs.490 <strike>Rs.1299</strike> </span><span class="discount">(62%
                            OFF)</span>
                    </div>
                    <footer class="card-footer">
                        <button class="btn btn-link card-button"><a class="card-button-link" href="">ADD TO
                                CART</a></button>
                    </footer>
                </div>

                <div class="card badge-card ">
                    <div class="label-icon ">
                        <div class="label">
                            NEW
                        </div>
                        <img src="https://img.icons8.com/material-outlined/96/000000/like--v1.png" class="stacked-icon"
                            alt="like-heart" />
                    </div>
                    <img class="card-image"
                        src="https://github.com/kotesh-arya/Handy_UI-Component_Library/blob/Fix-cards/Assets/Images/Updated-watch.jpg?raw=true"
                        alt="watch" />
                    <div class="card-content ">
                        <p>TIMEX</p> <br />
                        <div class="card-title">
                            LEATHER WATCH SERIES
                        </div>
                        <span class="price">Rs.490 <strike>Rs.1299</strike> </span><span class="discount">(62%
                            OFF)</span>
                    </div>
                    <footer class="card-footer">
                        <button class="btn btn-link card-button"><a class="card-button-link" href="">ADD TO
                                CART</a></button>
                    </footer>
                </div>

                <div class="card badge-card ">
                    <div class="label-icon ">
                        <div class="label">
                            NEW
                        </div>
                        <img src="https://img.icons8.com/material-outlined/96/000000/like--v1.png" class="stacked-icon"
                            alt="like-heart" />
                    </div>
                    <img class="card-image"
                        src="https://github.com/kotesh-arya/Handy_UI-Component_Library/blob/Fix-cards/Assets/Images/Updated-watch.jpg?raw=true"
                        alt="watch" />
                    <div class="card-content ">
                        <p>TIMEX</p> <br />
                        <div class="card-title">
                            LEATHER WATCH SERIES
                        </div>
                        <span class="price">Rs.490 <strike>Rs.1299</strike> </span><span class="discount">(62%
                            OFF)</span>
                    </div>
                    <footer class="card-footer">
                        <button class="btn btn-link card-button"><a class="card-button-link" href="">ADD TO
                                CART</a></button>
                    </footer>
                </div>

                <div class="card badge-card ">
                    <div class="label-icon ">
                        <div class="label">
                            NEW
                        </div>
                        <img src="https://img.icons8.com/material-outlined/96/000000/like--v1.png" class="stacked-icon"
                            alt="like-heart" />
                    </div>
                    <img class="card-image"
                        src="https://github.com/kotesh-arya/Handy_UI-Component_Library/blob/Fix-cards/Assets/Images/Updated-watch.jpg?raw=true"
                        alt="watch" />
                    <div class="card-content ">
                        <p>TIMEX</p> <br />
                        <div class="card-title">
                            LEATHER WATCH SERIES
                        </div>
                        <span class="price">Rs.490 <strike>Rs.1299</strike> </span><span class="discount">(62%
                            OFF)</span>
                    </div>
                    <footer class="card-footer">
                        <button class="btn btn-link card-button"><a class="card-button-link" href="">ADD TO
                                CART</a></button>
                    </footer>
                </div>

                <div class="card badge-card ">
                    <div class="label-icon ">
                        <div class="label">
                            NEW
                        </div>
                        <img src="https://img.icons8.com/ios-glyphs/60/fa314a/like--v1.png" class="stacked-icon"
                            alt="like-heart" />
                    </div>
                    <img class="card-image"
                        src="https://github.com/kotesh-arya/Handy_UI-Component_Library/blob/Fix-cards/Assets/Images/Updated-watch.jpg?raw=true"
                        alt="watch" />
                    <div class="card-content ">
                        <p>TIMEX</p> <br />
                        <div class="card-title">
                            LEATHER WATCH SERIES
                        </div>
                        <span class="price">Rs.490 <strike>Rs.1299</strike> </span><span class="discount">(62%
                            OFF)</span>
                    </div>
                    <footer class="card-footer">
                        <button class="btn btn-link card-button"><a class="card-button-link" href="">ADD TO
                                CART</a></button>
                    </footer>
                </div>
            </div>
        </div>
    </div>

</body>

</html>