.signup-container {
    text-align: left;
    width: 24rem;
    text-align: center;
    box-shadow: 2px 2px 8px var(--black);
    margin: auto;
    margin-top: 6rem;
    padding: 1.5rem;
    font-size: var(--large-font-size);
    border-radius: 10px;
}

.header-large {
    margin-bottom: 3rem;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--larger-font-size);
    margin-left: 2.5rem;
}

.input-box {
    width: 90%;
    margin-left: 0;
}

.handy-div {
    text-align: center;
}

.check-box {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 10px;
}

.checkbox-text {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

}

.forgot-password {
    text-decoration: none;
    color: var(--blue);
}

.new-account-btn {
    cursor: pointer;
    border-radius: 5px;
}

.btn {
    width: 90%;
    margin: 1rem auto;
}

.login-link {
    text-decoration: none;
    color: var(--black);
}