.logo-input {
    display: flex;
    width: 18%;
}

.search-input-container {
    display: flex;
    align-items: center;
    width: 30rem;
    padding: 0 1rem;
    margin-left: 2rem;
}

.input-icon {
    position: relative;
    right: 3rem;
    padding: 5px;
}

.header-input {
    padding: 9px;
    width: 90%;
    border-radius: 5px;
    border: none;
    border: 2px solid var(--grey);
    font-size: var(--medium-font-size);
}

.header-icon {
    color: var(--fa-primary-color);
    font-size: 1.5rem;
}

.basic {
    border: 0px;
}

.badge .number-one {
    background-color: var(--badge-bg-color);
}

.number-one {
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: relative;
    left: -0.9rem;
    margin-right: -1.3rem;
    bottom: 0.8rem;
    border: 3px solid var(--white);
    font-size: 12px;
    font-weight: bolder;
    color: var(--white);
    text-align: center;
}

.banner {
    position: relative;
}

.banner-image {
    width: 100%;
}

.banner-text {
    position: absolute;
    left: 44rem;
    bottom: 7rem;
    width: 10rem;
}

.shop-button {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 1rem;
    margin-top: 2rem;
    text-decoration: none;
    position: absolute;
    border-radius: 5px;
    font-weight: var(--bolder-font-weight);
}

.nav-icon-link {
    text-decoration: none;
    padding: 0;
}

.main-links {
    display: flex;
    justify-content: space-between;
}

.card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
}

.card {
    width: 20rem;
    margin: 0 1rem;
    height: auto;
}

.section-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 1rem 1rem 0rem;
}

.underline {
    height: 5px;
    width: 14rem;
    background-color: var(--grey);
}

.categories {
    display: flex;
    margin-top: 1rem;
    padding: 3rem;
    justify-content: space-around;
    position: relative;
    align-items: flex-end;
}

.category {
    cursor: pointer;
}

.card-title {
    bottom: 10rem;
    background-color: var(--primary-color);
    width: 100%;
    justify-content: center;
    margin-left: 0;
    padding: 8px;
    margin-bottom: -5rem;
    color: var(--white);
}

.trending {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 2rem 5rem 4rem 5rem;
}

.horizontal-card {
    display: flex;
    justify-content: center;
    height: auto;
    width: 35rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 3px 3px 8px var(--grey);
}

.horizontal-card-image-container {
    height: auto;
}

.horizontal-card-content {
    margin: 0;
    padding: 0 1rem;
}

.horizontal-card-content-footer {
    width: 100%;
    flex-direction: column;
}

.trend-card-title {
    font-size: var(--larger-font-size);
    font-weight: var(--bolder-font-weight);
    margin: 1rem 0;
}

.treding-card-text-content {
    text-align: justify;
}

.trending-card {
    display: flex;
    flex-direction: row;
    width: 40%;
    background-color: var(--white);
    padding: 4rem;
}

.trend-card-btn {
    cursor: pointer;
}

.btn-link {
    border-radius: 5px;
}

.horizontal-card-image {
    width: 100%;
    height: auto;
}


.footer .card-footer-link-buy {
    padding: 8px;
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
}

.footer .card-footer-link {
    padding: 6px;
    background-color: var(--white);
    color: var(--black);
    border: 2px solid var(--primary-color);
    text-align: center;
    margin-left: 0px;
}

.footer {
    padding-left: 0px;
}

.main-footer {
    width: 100%;
    background-color: var(--footer-bg-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-text {
    color: var(--primary-color);
    font-weight: var(--bolder-font-weight);
    margin-top: 1rem;
}

.footer-icons {
    margin-top: 10px;
}

.footer-icon {
    color: var(--fa-primary-color);
    font-size: 2.5rem;
    padding: 5px;
}