<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="homepage.css">
    <title>Daily Fashion : Home</title>
</head>
<body>
    <div class="navigation-container">
        <div class="logo-input">
            <div class="nav-header">
                <h1>Daily Fashion</h1>
            </div>
            <div class="search-input-container"><input class="header-input" type="search">
                <img class=" input-icon" src="https://img.icons8.com/material/28/000000/search--v1.png" />
            </div>
        </div>
        <nav class="main-links">
            <button class=" btn-link">
                <a class="link-button" href="#">LOG IN</a>
            </button>
            <a class="nav-icon-link" href="#">
                <div class="badge"><img class="header-icon " src="https://img.icons8.com/glyph-neue/38/ffffff/like.png">
                    <div class="number-one">3</div>
                </div>
            </a>
            <a class="nav-icon-link" href="#">
                <div class="badge"><img class="header-icon"
                        src="https://img.icons8.com/external-icongeek26-glyph-icongeek26/38/ffffff/external-cart-essentials-icongeek26-glyph-icongeek26.png" />
                    <div class="number-one">3</div>
                </div>
            </a>
            <a class="nav-icon-link" href="#"><img class="header-icon"
                    src="https://img.icons8.com/material/38/ffffff/user-male-circle--v1.png" /></a>
        </nav>
    </div>
    <main class="main-section">
        <div class="categories">
            <div class="card">
                <img src="/Components/Homepage/HomePage-assets/category-image-watch.jpg" alt="watch" class="card-image">
                <div class="card-title">watches</div>
            </div>
            <div class="card">
                <img src="/Components/Homepage/HomePage-assets/category-image-goggles.png" alt="goggles" class="card-image">
                <div class="card-title">Goggles</div>
            </div>
            <div class="card">
                <img src="/Components/Homepage/HomePage-assets/category-image-bag.jpg" alt="bag" class="card-image">
                <div class="card-title">Bags</div>
            </div>
            <div class="card"> <img src="/Components/Homepage/HomePage-assets/category-image-belt.jpg" alt="belt"
                    class="card-image">
                <div class="card-title">Belts</div>
            </div>
            <div class="card"> <img src="/Components/Homepage/HomePage-assets/category-image-footwear.jpg" alt="shoes"
                    class="card-image">
                <div class="card-title">Footwear</div>
            </div>
        </div>
        <div class="banner-container">
            <div class="banner">
                <img class="banner-image" src="/Components/Homepage/HomePage-assets/Home-page-banner.jpg"
                    alt="man and woman laughing at each other">
                <div class="banner-text">
                    <h1 class="header-huge">The Fashion choice of <br> a Real Man</h1>
                </div>
            </div>
        </div>
        <div class="trending">
            <div class="trending-card">
                <img class="horizontal-card-image "
                    src="/Components/Homepage/HomePage-assets/trending-image-sherlock-cap.jpg" />
                <div class="card-content">
                    <div class=" trend-card-title">
                        Sherlock's Hat
                    </div>
                    Transform yourself into a detective look with this Sherlock's Hat.By the comfort you get in this
                    winter, you can pull out your style with a lengthy coat.
                    <footer class="footer">
                        <a class="card-footer-link" href="">Add to wishlist</a>
                        <a class="card-footer-link-buy" href="">Buy Now</a>
                    </footer>
                </div>
            </div>
            <div class="trending-card">
                <img class="horizontal-card-image "
                    src="/Components/Homepage/HomePage-assets/trending-image-scarf.jpg" />
                <div class="card-content">
                    <div class=" trend-card-title">
                        Johnny depp scarf
                    </div>
                    The best companion for this freezing winter, which gives you a rugged look from out side and cozy
                    warm feel from inside. Be a Double-game player.
                    <footer class="footer">
                        <a class="card-footer-link" href="">Add to wishlist</a>
                        <a class="card-footer-link-buy" href="">Buy Now</a>
                    </footer>
                </div>
            </div>
        </div>
    </main>
    <div class="main-footer">
        <div class="footer-text">
            Design By Kotesh Mudila
        </div>
        <div class="footer-icons"> <a href="https://github.com/kotesh-arya"><img class="header-icon"
                    src="https://img.icons8.com/windows/64/ffffff/github.png" /></a>
            <a href="https://twitter.com/Kotesh_Mudila"><img class="header-icon"
                    src="https://img.icons8.com/ios-glyphs/60/ffffff/twitter--v1.png" /></a>
            <a href="https://www.linkedin.com/in/koteswara-rao-mudila-7aa740159/"><img class="header-icon"
                    src="https://img.icons8.com/ios-glyphs/60/ffffff/linkedin.png" /></a></div>
    </div>
</body>

</html>